$fontSizes: (
    h1: 4rem,
    h2: 2.5rem,
    h3: 2.2rem,
    h4: 1.8rem,
    p: 1.6rem,
);

@each $etiqueta, $tamanioLetras in $fontSizes{
    #{$etiqueta}{
        font-size: $tamanioLetras;
    }
}