.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #C6DABF;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
     
        h3 {
            @extend %estiloTitulo;
        }
        h4 {
            @extend %estiloSubtitulo;
           
        }

    }   
    p{
        font-size: 1.3rem;
        padding-top: 30px;
    }
}
