.grilla-galeria{
    margin: 10px;
}

.fixed{
    position: fixed;
    right: 40px;
    z-index: 1;
    bottom: 20px;
    font-size: 2em;
    color: #fa9209;
  
}

.header a{
    text-decoration: none;
}
