.grilla_presupuesto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.3fr;
    grid-template-areas:
    "header header header header"
    "section_presupuesto section_presupuesto section_presupuesto section_presupuesto"
    "section_presupuesto section_presupuesto section_presupuesto section_presupuesto"   
    "footer footer footer footer";   
}

.section_presupuesto{
    grid-area: section_presupuesto;
    height: 80vh;
    background-image: url("../img/callcenter.jpg");
    background-size: cover;
    padding: 40px;   
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}
.formulario input{
    width: 450px;
    margin: 20px; 
    height: 40px; 
}
.formulario textarea{
    width: 450px;
    margin: 20px;
    height: 120px;
}

.section_presupuesto h3{
    font-size: 40px;
    margin-left: 20px;
}
.section_presupuesto p{
    font-size: 20px;
    padding: 20px;
}

/* --tamaño mediano Tablet-- */
@media (max-width: 760px){
    .grilla_presupuesto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.4fr 1fr 1fr 0.3fr;
         
    } 
}
/* --tamaño chico Movil-- */
@media (max-width: 425px){
    .section_presupuesto{
        grid-area: section_presupuesto;
        height: 70vh;
        background-image: url("../img/callcenter.jpg");
        background-size: cover;
        padding: 40px;   
        .formulario{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            input{
                width: 350px;
             
            }
            textarea{
                width: 350px;
            }
        }
        h3{
            font-size: 30px;
            
        }
    }
}