.seccion_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    .seccion1_texto{
    
        max-width: 800px;
        border: solid 3px ;
        padding: 20px;
        margin: 10px;
    }
}

.accordion{
    margin: 40px;
}
.seccion_3{
  margin: 40px;  
}
/* --tamaño mediano Tablet-- */
@media (max-width: 768px){
    .seccion_1{
        flex-direction: column;  
        div{
            h1{
                font-size: 1.5rem;
            }
        }
        img{
            width: 80%;
            padding: 20px;
        }     
    }
    .accordion{
        h1 {
            font-size: 1.5rem;
        }
    }
    .seccion_3{
        h1{
            font-size: 1.5rem;
        }
    }
}